windows
windows_2025
win11x64.iso
win2025-eval.iso
windows_11_storage
windows_2025_storage
data_folder_win11/error.txt
data_folder_2025_server/errors.txt
windows_2025_storage_task1
windows_11_storage_task1
